ul.menuNavigation li a{
	height: 14px
}
.headerBalanceHolder .innerDateHolder input{
	width: 66px;
}
.fullwidth{
	width: 94.05%;
}
.main-navigation{
	left: -3%;
	position: relative;
	
}
.make-short-block{
	width: 226px;
	height: 60px;
}
.filetext{
	height: 16px;
}

#header{z-index: 2000; position: relative;}
	#header .row-fluid{z-index: 1000; position: relative;}

.bottom-line{z-index: 900}
ul.img-list li a:hover{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='none',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='none',sizingMethod='scale')";
	position: relative;
	border: none;
	padding:5px 7px 10px 6px; 
	margin: -5px -7px -10px -6px;
}
ul.img-list li a{
	position: relative;
}
ul.img-list li a img.back-img{
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: -1;
	border: none;
	margin-bottom: -10px;
}

.main-page-slider li div{
	height: 193px;
}
.bx-wrapper .bx-viewport{
	padding-bottom: 50px;
min-height: 240px;
}
.green-button,
.green-button:hover,
.green-button:focus,
.focus .green-button{
	height: 30px;
}
.leftSideEditAcc{
	width:290px;
}
.rightSideEditAcc ul li input{
	width:280px!important;
}
.rightSideEditAcc ul li select{
	width:280px!important;
}
.modal-footer .span3{
	width:255px;
}
.modal-body{
	max-height:460px;
}
ul.listNamePopup li{
	width:906px;
}
ul.listNamePopup li a{
	width:876px;	
}
ul.listNamePopup li.active{
	height:40px;
}
ul.listNamePopup li.active .listNamePopupWrapper{
	width:906px;
	padding:3px 0 0 0;
	height:37px;
}
.modal-body [class*="span"].span6{
	width:474px;
	margin-top:-1px!important;
}
.wrapperListPopup input{
	width:500px;
	padding-left:107px;
}
.customHeaderPopup.fullGrid{
	width:828px;
}
.fullGrid textarea{
	max-width:98.5%;
}
.deviderTop{
	margin:25px 0;
	height:1px;
	padding:0;
}
.customTextBox .rightSideFormCrad{
	width:480px;
	margin:5px 0 0 0;
}
.customTextBox .rightSideFormCrad span{
	width:13px;
	height:14px;
	float:left;
}
.fullGrid.ieSevenClass{
	margin:20px 0;
}
.modal-body .span10{
	width:;
}
.customButtomEdit3 .submitButton{
	padding:0;
	width:128px;
}
.span6.edPanBbottom6{
	width:417px;
	margin:0 10px 0 0!important;
}
.modal-body .span6.edPan6{
	width:437px;
	margin:0 10px 0 0!important;
}
.modal-body .helpClassIe.span6.edPan6{
	width:600px;
}
.span6.edPanBbottom6{
	width:425px!important;
	margin:1px 10px 0 10px!important;
}
.customButtomEdit .submitButton{
	width:219px;
}
.modal-body [class*="span"].span5{
	width:400px;
	margin:0 25px 0 0!important;
}
.modal-body [class*="span"].span4{
	width:318px;	
	margin:0 25px 0 0!important;
}
.grid_1{
	width:53%;
}
.grid_2{
	margin-right:11px!important;
}
.grid_3 .submitButton{
	width:140px;
}
.customButtonGrid2 .submitButton{
	width:185px;
}
.modal-body [class*="span"].span7.inputImages{
	margin:0 22px 0 0!important;
	width:528px;
}
.customButtonGrid .submitButton{
	width:131px;
}
.modal-body [class*="span"].span10{
	width:730px;
}
.customButtonGrid4 .submitButton{
	width:135px;
}