

@font-face {
	font-family: 'helvetica';
	src: url('fonts/helvetica.eot');

    src: url('fonts/helvetica.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 /*     url('fonts/helvetica.woff') format('woff'),
         url('fonts/helvetica.svg#reklamescript-regular_demo') format('svg')*/

@font-face {
    font-family: 'duepuntozero_regular';
    src: url('fonts/duepuntozero_regular.eot');
    src: url('fonts/duepuntozero_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/duepuntozero_regular.woff') format('woff'),
         url('fonts/duepuntozero_regular.ttf') format('truetype'),
         url('fonts/duepuntozero_regular.svg#reklamescript-regular_demo') format('svg');
    font-weight: normal;
    font-style: normal;
}

