
a{
	color: #5fae14;
 }

.breadcums{
	color: #5fae14;
 }
 
.categories h2,
.categories h3,
.categories a{
	color: #5fae14;
}

.categories .readmore{
	background: url("../../img/elem/readmore-button-lgreen.png") no-repeat scroll 0 0 transparent;
}
.article-holder h2{
	color: #5fae14;

}

.sub-page-nav{
	background-color: #294514;
	background-image: -webkit-linear-gradient(left, #294514, #3d651e);
	background-image: -moz-linear-gradient(left, #294514, #3d651e);
	background-image: -o-linear-gradient(left, #294514, #3d651e);
	background-image: -ms-linear-gradient(left, #294514, #3d651e);
	background-image: linear-gradient(left, #294514, #3d651e);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#294514', endColorstr='#3d651e',GradientType=0 );
}
	
	.sub-page-nav ul li:hover,
	.sub-page-nav ul li.current{
		background: url("../../img/elem/sub-nav-arrow-lgreen.png") no-repeat scroll right center transparent;
		padding-right: 8px;
		margin-right: -8px;
	}
		.sub-page-nav ul li a{
			border-bottom: 1px solid #2b4715;
		}